{% extends 'base.html.twig' %}

{% block header %}Espace Etudiant{% endblock %}

{% block content %}
    <div class="row mb-4">
        <h2 class="small-title">Vos offres</h2>
        {% for offre in offres %}
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ offre.titre }}</h3>
                        <strong>{{ offre.entreprise.raisonSociale }}</strong>
                        <p>{{ offre.descriptif|raw }}</p>
                        <p>
                            {% for parcours in offre.parcours %}
                                <span class="badge bg-{{ parcours.diplome.color }}">{{ parcours.display }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info" href="{{ path('app_offre_etudiant_show', {id:offre.id}) }}">
                            Voir / Candidater</a>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
