{% extends 'base.html.twig' %}

{% block header %}Offre {{ offre.titre }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ offre.titre }}</td>
                </tr>
                <tr>
                    <th>Descriptif</th>
                    <td>{{ offre.descriptif }}</td>
                </tr>
                <tr>
                    <th>Fiche de poste (PDF)</th>
                    <td><a href="{{ absolute_url(asset('/pdf/offres/'~offre.offrePdf)) }}" target="_blank">Voir</a></td>
                </tr>
                <tr>
                    <th>Diplôme(s)</th>
                    <td>
                        {% for diplome in offre.diplomes %}
                            <span class="badge bg-{{ diplome.color }}">{{ diplome.sigle }}</span>
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_espace_entreprise') }}" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left-circle"></i>
        Retour à l'espace entreprise
    </a>
{% endblock %}
