{% extends 'base.html.twig' %}

{% block header %}Espace Entreprise{% endblock %}

{% block content %}

    <div class="row mb-4">
        <h2 class="small-title">Votre participation au JobDating</h2>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Personnes présentes</h3>
                    <table class="table">
                        {% for pers in entreprise.representants %}
                            <tr>
                                <td>{{ pers.display }}</td>
                                <td>{{ pers.email }}</td>
                                <td>
                                    <a class="btn btn-warning" href="{{ path('app_representant_edit', {id:pers.id}) }}">
                                        Modifier
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p class="small">Merci d'indiquer les personnes présentent lors du jobdating pour la bonne
                                     organisation.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('app_representant_new') }}">Ajouter</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Autres informations</h3>
                    <p>Nb Stands : {{ entreprise.nbStands }}</p>
                    <p>Période de présence
                       : {% if entreprise.participe == true %}{{ entreprise.heureDebut|date('H:i') }} - {{ entreprise.heureFin|date
                            ('H:i') }}{% else %} Ne sera pas présent{% endif %}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-warning" href="{{ path('app_entreprise_edit', {id:entreprise.id}) }}">Modifier</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <h2 class="small-title">Vos offres</h2>
        {% for offre in offres %}
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{ offre.titre }}</h3>
                        <p>{{ offre.descriptif|raw }}</p>
                        <p>
                            {% for diplome in offre.diplomes %}
                                <span class="badge bg-{{ diplome.color }}">{{ diplome.sigle }}</span>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-info" href="{{ path('app_offre_show', {id:offre.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('app_offre_edit', {id:offre.id}) }}">Modifier
                        </a>
                        <button class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_offre_new') }}" class="btn btn-outline-primary">
        <i class="bi bi-plus-circle"></i>
        Ajouter une offre
    </a>
{% endblock %}
